#root {
  /* max-width: 980px; */
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.read-the-docs {
  color: #888;
}




.Motorcycle-form-add {
  flex: 1;
}

.divider {
  margin: 0 20px;
  width: 1px;
  height: 1000px;
  background-color: black;
}


.Motorcycle-form-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 21px;
  max-height:90vh ; 
  overflow-y: auto; 
  padding: 10px; 

}

/* body{
  background-color: black;

} */

